*:focus{
	outline: 0;
}

#drop_zone{
	border: 2px dashed #BBB;
	padding: 10px 5px;
	border-radius: 5px;
	color: #BBB;
	text-align: center;
}

.input-group{
	margin: 5px 0;
}

button{
	margin: 5px 0;
}

.alert{
	margin-bottom: 0;
}

#sidebar{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 220px;
}

#container{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}